* {
	margin: 0px;
	padding: 0px;
}

.main {
	background-color: #fff1e5;
}

.logo {
	width: 100px;
}

.message {
	color: blue;
}

.message:hover {
	background-color: yellow;
}

.header {
	background-color: #33302e;
	height: 39px;
}
